.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2%;
}
.social-icon{
  margin: 3px;
}
.nav{
  margin-bottom: -1px !important;
}
.nav-tabs{
  border-bottom: hidden !important;
  color: white;
}
.nav-link.active {
  background-color: rgba(0,0,0,.5) !important;
  color: white !important;
  border: hidden !important;
}
.nav-link{
  color:white !important;
}
.nav-link:hover{
  background-color: rgba(0,0,0,.25) !important;
  border: hidden !important;
}
.title-header{
  display: flex;
  flex-direction: column;
}
.App-link {
  color: #4762FA;
}
.profile-pic-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.profilePic{
  width:100%;
}
.buttonLink{
  Margin: 5%;
}
.card-text{
  text-align: start;
  font-family: sans-serif;
  color: white;
  background-color:rgba(75,36,75);
  padding: 5px 5px;
}
.profile-text>.body-text{
  text-align: start;
  font-family: sans-serif;
  color: white;
  background-color:rgba(75,36,75);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 5px 5px;

}
.title-text{
  font-family: sans-serif;
  color: white;
  padding: 2vmin 4vmin;

}
.tab-content{
  height: 100%;
}

.card{
  border: hidden !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}
.card>.card-header, .card>.card-body{
  background-color:rgba(75,36,75);
  border:hidden;
 
}
.list-group{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);;
}
.list-group-item{
  background-color:rgba(75,36,75) !important;
  border:hidden !important;
  color:white !important;
}
.card-header:first-child{
  border-bottom: hidden;
  border-radius: 0px !important;
}
.tab-content>.active{
  padding-top: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow:0 0 .25em rgba(0,0,0,.25);
  padding-bottom: 4rem;
  min-height: 100vh;
}
.workContainer>h3{
  color: white;
}
.workContainer .body-text, .workContainer{
  color:white;
}
.footer{
  background-color: #777777;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  color:white;
}


/*Animation styles*/
.bg {
  animation: slide 40s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #0038a8 50%, #d70270 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration: 50s;
}

.bg3 {
  animation-duration: 60s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
@media (min-width:1024px) {
  .workContainer{
    max-width:60%
  }
  .App-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .title-header{
    max-height: inherit;
    justify-content: center;
   
  } 
  .profile-pic-container{
    display: block;
    align-items: center;
    justify-content: center;
  }
  .profilePic{
    width:60%
  }
  
}
